.app-container {
  text-align: center;
}

.canvas-container {
  width: 600px;
  margin: auto;
  box-sizing: border-box;
  border: #282c34 2rem solid;
}

@media (max-width: 720px) {
  .canvas-container {
    width: 100%;
    border: #282c34 2rem solid;
  }
}